@import url(https://fonts.google.com/specimen/Overpass);
*{
    font-family: 'Overpass',sans-serif;
}

:root{
    --Orange: hsl(25, 97%, 53%);


    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh ;
    box-sizing: border-box;
}

form{
    background:linear-gradient(180deg, var(--Dark_Blue) -20%,  var(--Very_Dark_Blue));
    border-radius: 20px;
    padding: 30px;
    width: 325px;
    height: 325px;
}
p,
div{
    font-size: 14px;
    color: var(--Light_Grey);
}

P{
    line-height: 20px;
}

.review{
    display: flex;
    flex-wrap: nowrap ;
    justify-content: space-between;
    margin: 20px 0px;
}

.rate,
svg{
    padding: 15px;
    border-radius:55%;
    background-color: var(--Dark_Blue);
}

.rate,
button{
    cursor: pointer;
}

h2{
    color: var(--White);
    margin-bottom: 0px;
}

button{
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: var(--Orange);
    border-style: none;
    margin: 20px 0px;
}

.rate{
    transition: all 0.3s;
}

.rate:hover{
    background-color: var(--White);
}


body>div{
    box-sizing: border-box;
    position:absolute;
    justify-self: center;
    align-self: center;
    width: 325px;
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center ;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(180deg, var(--Dark_Blue) -20%,  var(--Very_Dark_Blue));
}

.svg{
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.score{
    color: var(--Orange);
    width: 200px;
    border-radius: 10px;
    background-color: var(--Dark_Blue);
    margin: 0px;
}